<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{Name}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
      <div class="background">
        <img  src="https://www.mlsu.ac.in/photogallery//DSC01368.JPG" width=100% height=100%>
      </div>
      <a href="#name"><span class="white-text name">{{CourseId}}</span></a>
      <img class="materialboxed circle" src="./static/images/{{image}}">
      <a href="#name"><span class="white-text name">{{Name}}</span></a>
      <a href="#name"><span class="white-text name">{{RollNo}}</span></a>
      <a href="#email"><span class="white-text email">{{Email}}</span></a>
    </div>
  </li>
  <li>
    <a href="/updateafter">
      Update Details
    </a>
  </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <a class="subheader"><i class="material-icons" class="white-text">
      notification_important
      </i>
    Assignment Notifications</a>
    </li>
    <li>
      {% for row in userLp%}
      <a class="waves-effect waves-light modal-trigger center-align" href="#modal1/{{row.0}}">{{row.3}}</a>
      {% endfor %}
    </li>
  </ul>

  <a href="#" data-target="slide-out" class="sidenav-trigger">
    <i class="material-icons">menu</i>
  </a>
  <div class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="collection center-align">
    <a class="collection-item">{{messages}}</a>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row mb-5">
      <div class="col s10">
    {% for row in userLp%}
    <div id="modal1/{{row.0}}" class="modal">
      <form action="/submitassignment" method="post" enctype="multipart/form-data">
      <div class="modal-content">
        <input type="text" value="{{row.3}}" name="Course" hidden>
        <input type="text" value="{{row.4}}" name="sem" hidden>
        <h4>{{row.2}}</h4>
        <blockquote>{{row.5}}</blockquote>
        <p>Semester/Year: <strong>{{row.4}}</strong></p>
        <p>Subject Code:<strong>{{row.3}}</strong></p>
        <p class="flow-text">{{row.6}}</p>
          <div class="file-field input-field">
          <div class="btn">
          <span>Upload PDF</span>
          <input type="file" name="pdf">
          </div>
          <div class="file-path-wrapper">
          <input class="file-path validate" name="pdf" type="text" placeholder="Upload one or more files">
          </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="modal-close waves-effect waves-green btn-flat">Submit Assignment</a>
      </div>
      </form>
    </div>
    {% endfor %}
          <h1>{{CourseId}}</h1>
      </div>
      <div class="col s2">
        <a href="/dashboard">
        <div class="chip">
        <img src="./static/images/{{image}}" alt="Contact Person">
          {{RollNo}}
        </div>
        </a>
      </div>
    </div>
    <div class="row">
      <h5 style="margin-left:20px">Notifications</h5>
    </div>
    <div class="divider"></div>
    <div class="row">
      {%for row in Noti%}
   <div class="col s12 m6">
     <div class="card blue-grey darken-3">
       <div class="card-content white-text">
         <span class="card-title">{{row.2}}</span>
         <span class="card-title"><strong>{{row.3}}</strong></span>
         <div class="card-body">
            <p>{{row.4}}</p>
         </div>
       </div>
       <div class="card-action">
         <a href="static\Local\{{row.5}}">{{row.5}}</a>
       </div>
     </div>
 </div>
  {%endfor%}
 </div>
  </div>
  <div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating black" href="/dashboard"><i class="material-icons">supervised_user_circle</i></a></li>
    <form action="/LogOut" method="post" enctype="multipart/form-data">
    <li><button class="btn-floating yellow darken-4" type="submit"><i class="material-icons">face</i></button></li>
    </form>
  </ul>
</div>
<footer class="page-footer">
        <div class="footer-copyright">
           <div class="container">
           © 2020 Harsh Tripathi
           <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
           </div>
         </div>
</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.sidenav');
  var instances = M.Sidenav.init(elems);
});
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems);
  });
  document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.chips');
  var instances = M.Chips.init(elems);
});
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
document.addEventListener('DOMContentLoaded', function() {
     var elems = document.querySelectorAll('.materialboxed');
     var instances = M.Materialbox.init(elems);
});
  </script>
</body>
</html>
