<nav class="navbar navbar-dark light shadow-none">
   <a class="navbar-brand text-dark mx-auto font">DashBoard</a>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark black lighten-1 fixed-bottom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item ml-5 mr-5 pl-5">
        <a class="nav-link" href="/dashboard"><span class="material-icons">
dashboard
</span>
        </a>
      </li>
      <li class="nav-item ml-5 mr-5 pl-5">
        <a class="nav-link" href="/uploader"><span class="material-icons">
perm_media
</span></a>
      </li>
      <li class="nav-item ml-5 mr-5 pl-5">
        <a class="nav-link" href="/Activity"><span class="material-icons">
local_activity
</span></a>
      </li>
      <li class="nav-item ml-5 pl-5">
        <a class="nav-link" href="#"><span class="material-icons">
search
</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a class="nav-link p-0 mr-2" href="/Social">
          <img src="/static/images/{{image}}" class="rounded-circle z-depth-0"
            alt="avatar image" height="35">
        </a>
      </li>
    </ul>
  </div>
</nav>
