<nav class="navbar navbar-expand-lg navbar-dark black text-light mb-2">
  <h2 class="navbar-brand">MLSU</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
<ul class="nav navbar-nav mx-auto">
<li class="nav-item mr-5">
  <a class="nav-link btn" href="/Homes">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item ml-3 mr-3">
  <a class="nav-link btn" href="/assignment">Assignment</a>
</li>
<li class="nav-item ml-3 mr-3">
  <a class="nav-link btn" href="/DataRecive">Data Recieve</a>
</li>
</ul>
</div>
<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info"
          aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item hoverable text-center" href="/LogOut">LogOut</a>
        </div>
</li>
<h5 class=""> </h5>
</nav>
