<nav class="navbar navbar-expand-md navbar-light">
  <span class="navbar-brand mb-0 h1 display-4">MLSU</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="d-flex justify-content-center">
        <table class="mr-5 mt-5">
          <tr class="text-center text-light">
            <th class="border-left border-top border-bottom border-light lead">S.NO/Id</th>
            <th class="border-left border-top border-bottom border-light lead">Course</th>
            <th class="border-left border-top border-bottom border-light lead">Year</th>
            <th class="border-left border-top border-bottom border-light lead">update</th>
            <th class="border-left border-top border-bottom border-right border-light lead">delete</th>
          </tr>
          {% for row in user %}
          <tr class="text-center text-light">
            <td class="border-left border-top border-bottom border-light">{{row.0}}</td>
            <td class="border-left border-top border-bottom border-light">{{row.1}}</td>
            <td class="border-left border-top border-bottom border-light">{{row.2}}</td>
            <td class="border-left border-top border-bottom border-light">
                <a href="/updates/" data-toggle="modal" data-target="#edit">
                edit
              </a>
            </td>
            <td class="border-left border-top border-bottom border-right border-dark"><a href="/delete/{{row.0}}">delete</a></td>
          </tr>
          {% endfor %}<br>
        </table>
        <table class="m-5 p-3">
          <tr class="text-center text-light bg-secondary">
            <th class="border-left border-top border-bottom border-dark">S.NO/Id</th>
            <th class="border-left border-top border-bottom border-dark">Course</th>
            <th class="border-left border-top border-bottom border-dark">Year</th>
            <th class="border-left border-top border-bottom border-dark">update</th>
            <th class="border-left border-top border-bottom border-right border-dark">delete</th>
          </tr>
          <!-- {% for row in user %}
          <tr class="text-center bg-light">
            <td class="border-left border-top border-bottom border-dark">{{row.3}}</td>
            <td class="border-left border-top border-bottom border-dark">{{row.4}}</td>
            <td class="border-left border-top border-bottom border-dark bg-light">{{row.5}}</td>
            <td class="border-left border-top border-bottom border-dark bg-light">
                <a href="/updates/" data-toggle="modal" data-target="#edit">
                edit
              </a>
            </td>
            <td class="border-left border-top border-bottom border-right border-dark"><a href="/deleteS/{{row.0}}">delete</a></td>
          </tr>
          {% endfor %}<br> -->
        </table>
       </div>
      </div>
    <span onclick="openNav()" class="point">&#9776;   View</span>
    </ul>
  </div>
</nav>
