<style media="screen">
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 1.0);
  overflow-x:hidden;
  overflow-y:scroll;
  transition: 0.5s;
}
.overlay-content{
  position:relative;
  top:15%;
  width:100%;
  text-align:center;
  margin-top:10px;
}
.overlay .closebtn {
  position: absolute;
  top:10px;
  right: 45px;
  font-size: 60px;
}
.point{
  cursor:pointer;
}
</style>
<link rel="stylesheet" href="static/login.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
